.forget-password {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10%;
  .steps-wrapper {
    width: 100%;
    height: 60%;
    padding-right: 15%;
    h1 {
      margin-bottom: 0;
      font-weight: 700;
    }
    button {
      width: 40%;
      background-color: var(--main-color);
      border: 0;
      color: white;
      padding: 8px 0;
      font-size: 120%;
      font-weight: 600;
      &:disabled {
        opacity: 0.25;
      }
    }
    .f-s-step-three {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
    }
    .f-p-step-two {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      .otp-wrapper {
        display: flex;
        flex-direction: column;
        div {
          width: 100%;
          display: flex;
          justify-content: space-between;

          div {
            width: 100%;
            display: flex;
            input {
              width: 40px !important;
              height: 43px;
              margin-right: 9px;
              font-weight: 600;
              font-size: 160%;
              border: 1px solid var(--border-color);
              @media (max-width: 767px) {
                width: 36px !important;
                height: 36px;
                margin-right: 9px;
              }
            }
          }
        }
      }
    }
    .f-b-step-one {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      .remembered {
        position: absolute;
        top: 110%;
        left: 0;
        b {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .f-p-step-two {
      width: 100%;
      height: 100%;
    }
  }
}
