.crypto-startup-news{
    width: 100%;
    height: 100%;
    padding-top: 3%;
    .c-s-n-body{
        height: calc(100% - 0px);
        // padding: 0 5vh;
        transition: 0.3s;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .c-s-n-news-section{
            height: 59%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: none;
            // padding: 3% 0;

        }
        .c-s-n-tabs{
            flex: none;
            height: 38%;
            width: 100%;
            padding: 0 5vh;
            padding-right: 0;
            .tabs-trending{
                height: 40px;
                width: 100%;
                display: flex;
                align-items: center;
                h4{
                    margin-bottom: 0;
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                    img{
                        height: 22px;
                        margin-left: 10px;
                    }
                }
            }
            .c-s-n-tabs-header{
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                border-bottom: 1px solid var(--border-color);
                h5{
                    margin: 0;
                    font-size: 15px;
                    padding-right: 7vh;
                    padding-left: 1vh;
                    font-weight: 600;
                    opacity: 0.25;
                    height: 100%;
                    font-weight: 400;
                    font-size: 130%;
                    display: flex;
                    align-items: center;
                    &:nth-child(1){
                        opacity: 1;
                        font-size: 130%;
                        font-weight: 600;
                        // border-bottom: 1px solid var(--text-color);
                    }

                }
            }
            .c-s-n-tabs-people{
                height: calc(100% - 90px);
                display: flex;
                align-items: center;
                overflow: auto;
                &::-webkit-scrollbar{
                    height: 0;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 8vh;
                    // background-color: red;
                    height: 100%;
                    position: relative;
                    cursor: pointer;
                    &:hover{
                        span{
                            opacity: 1;
                            transition: 0.3s;
                        }
                        img{
                            transform: scale(1.1);
                            transition: 0.3s;
                        }
                    }
                    img{
                        height: 45%;
                        // width: 8vh;
                        border-radius: 50%;
                        margin-bottom: 10px;
                        transition: 0.3s;
                    }
                    span{
                        position: absolute;
                        bottom: 10% ;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 95%;
                        text-align: center;
                        opacity: 0;
                        transition: 0.3s;
                    }
                }
            }

        }

    }
    .shrink{
        height: calc(100% - 70px);
        transition: 0.3s;
    }
}