.c-s-startup{
    width: 100%;
    height: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .c-s-s-main-cards-wrapper{
        height: 68%;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        .c-s-s-m-c-header{
            height: 15%;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 5vh;
            h3{
                margin-bottom: 0;
                font-weight: 700;
            }

        }
        .c-s-s-m-c-body{
            height: 85%;
            width: 100%;
            display: flex;
            .companies-main-card{
                width: calc(100%/3);
                height: 100%;
                flex: none;
                .c-m-c-above{
                    height: 55%;
                    width: 100%;
                    // background: linear-gradient(0deg, #948A8A, #948A8A), linear-gradient(0deg, #948A8A, #948A8A), #948A8A;
                   

                }
                .c-m-c-below{
                    height: 45%;
                    width: 100%;
                    padding: 0 4vh;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    p,h6,h5{
                        margin: 0;
                    }
                    div{
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        margin: 1.2vh 0;
                        
                    }
                    h6{
                        width: 100%;
                        button{
                            width: 25%;
                            border: 0;
                            margin-right: 10px;
                            font-size: 85%;
                            padding: 5px;
                            font-weight: 600;
                            background-color: var(--light-border-color);
                            
                        }
                    }

                }

            }

        }

    }
    .c-s-s-recommended-cards-wrapper{
        height: 26%;
        width: 100%;
        .c-s-s-r-c-header{
            height: 15%;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 5vh;
            h5{
                margin-bottom: 0;
                font-weight: 700;
            }
        }
        .c-s-s-r-c-body{
            width: 100%;
            height: 85%;
            display: flex;
            .company-rec-card{
                width: calc(100%/3);
                height: 100%;
                flex: none;
                display: flex;
                .c-r-c-left{
                    width: 37%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    div{
                        height: 12vh;
                        width: 12vh;
                        background-color: #152A77;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 15px;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        img{
                            height: 50%;
                        }

                    }

                }
                .c-r-c-right{
                    width: 70%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 2%;
                    .c-r-c-right-wrapper{
                        height: 75%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h6,p{
                            margin: 0;
                        }
                        h6{
                            font-weight: 700;
                        }
                        p{
                            margin: 10px 0;
                        }
                        div{
                            button{
                                background-color: var(--light-border-color);
                                border: 0;
                                margin-right: 10px;
                                font-size: 85%;
                                font-weight: 500;
                                width: 25%;
                            }
                        }

                    }
                }


            }
        }

    }
}