.search-template {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
  z-index: 5;
  .s-t-header {
    height: 70px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    button{
        width: 150px;
        height: 100%;
        background-color: transparent;
        border: 0;
        border-right: 1px solid var(--border-color);
    }
    div{
        width: calc(100% - 150px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 2%;
        padding-right: 5vh;
        input{
            width: 90%;
            height: 100%;
            background-color: transparent;
            border: 0;
            font-size: 120%;
        }
        
    }
  }
  .s-t-body {
    height: calc(100% - 70px);
    display: flex;

    .s-t-b-search-list {
      width: 75%;
      height: 100%;
    //   border: 1px solid blue;
      overflow: auto;
      &::-webkit-scrollbar{
          width: 0;
      }
    //   display: flex;
    //   flex-direction: column;
      padding: 0 5vh;
      padding-top: 5vh;
      div{
          border: 1px solid var(--border-color);
          height: 25%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-bottom: 4vh;
          padding: 0 5%;
          border-right: 15px solid #DD9A5E ;

          h5, p{
              margin: 0;
          }
          p{
              font-size: 85%;
          }
          h5{
              margin-bottom: 1vh;
              display: flex;
              align-items: center;

              img{
                height: 18px;
                margin-right: 10px;
              }
          }
      }
    }
    .s-t-b-others {
      width: 25%;
      height: 100%;
      .s-t-b-o-first-image{
          height: 40%;
          width: 100%;
          background-color: var(--light-border-color);

      }
      .s-t-b-o-other-image{
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
        .other-images{
            border: 1px solid var(--light-border-color);
            height: 90px;
        }
        .more-info{
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            p{
                font-size: 85%;
            }
        }

      }
      .s-t-b-o-related{
        height: 20%;
        width: 100%;
        div{
            height: 90%;
            width: 100%;
            border: 1px solid var(--border-color);
        }

      }

    }
  }
}
.hide-it {
  transition: 0.3s;
  // transform: translateY(100%);
  height: 0;
  overflow: hidden;
}
.show-it {
  transition: 0.3s;
  // transform: translateY(0%);
}
