.access-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .access-modal {
    width: 25%;
    background-color: var(--background-color);
    border-radius: 20px;
    overflow: hidden;
    .access-modal-footer {
      width: 100%;
      height: 50px;
      background-color: var(--main-color);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      h6 {
        color: var(--background-color);
        transition: 0.3s;
        letter-spacing: 1px;
      }
      &:hover {
        h6 {
          font-weight: 600;
        }
      }
    }
    .access-modal-body {
      padding: 10vh 5vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        height: 16vh;
        width: 16vh;
      }
      div {
        width: 100%;
        justify-content: space-between;
        margin-top: 3vh;
        // padding: 0 10%;
        div {
          padding: 0;
          width: 60px;
          input {
            width: 60px !important;
            height: 60px;
            font-size: 22px !important;
            font-weight: 600 !important;
            border: 0;
            border-radius: 3px;
            border: 1px solid var(--border-color);
            &:focus {
              transition: 0.3s;
              box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
            }
            transition: 0.3s;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .error-otp{
      input{
        border: 2px solid red !important;
      }
    }
  }
}
@media (max-width: 767px) {
  .access-modal-wrapper {
    
  .access-modal {
    width: 95%;
  }
  }
  
}