.landing-page-main {
  width: 100%;
  height: 100%;
  .landing-page-above {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .title-logo {
      width: 40%;
      img {
        width: 100%;
      }
    }
    .lpm-text {
      width: 40%;
      img{
        width: 100%;
      }
      h6,p{
        display: none;
      }
    }
    .lpm-options {
      display: flex;
      width: 80%;
      justify-content: space-between;
      .option-wrapper {
        width: 30%;
        div {
          width: 100%;
          border: 1px solid var(--border-color);
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10% 0;
          img {
            width: 65%;
          }
        }
        p {
          text-align: center;
          font-weight: 600;
          padding: 10px 0;
        }
        &:hover {
          div {
            cursor: pointer;
            background-color: var(--border-color);
          }
        }
      }
    }
  }
  .landing-page-footer {
    width: 100%;
    height: 80px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
      color: var(--background-color);
      font-weight: 600;
      transition: 0.3s;
      font-size: 110%;
    }
    &:hover {
        cursor: pointer;
      p {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
}
@media (max-width: 767px) {
  .landing-page-main {
    overflow: auto;
    height: auto;
    .landing-page-above {
      height: auto;
      padding: 5% 8%;
      padding-top: 20%;
      .title-logo {
        display: flex;
        justify-content: center;
        width: 90%;
        img{
          height: auto;
          width: 100% !important;
        }
      }
      .lpm-text {
        margin: 20% 0;
        width: 100%;
        img{
          display: none;
        }
        h6,p{
          display: block;
          text-align: center;
        }
        h6{
          font-weight: 600;
        }
      }
      .lpm-options {
        flex-direction: column;
        width: 100%;
        .option-wrapper {
          width: 100%;
          margin-bottom: 4vh;
          p{
            display: none;
          }
        }
      }

    }

  }
}