.cs-video-section {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 5vh;
  .cs-video-player-wrapper {
    width: 58%;
    height: 100%;
    position: relative;
    border: 1px solid var(--border-color);
    .c-s-video-player-header {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f1f4f6;
      padding: 0 3%;
      h6 {
        margin-bottom: 0;
      }
      img {
        height: 18px;
        width: 18px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          transition: 0.3s;
          transform: scale(1.2);
        }
      }
    }
    .play-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .occupy-fullscreen{
    position: absolute;
    left: 0;
    width: 100% !important;
    height: 100%;
    background-color: white;
    z-index: 3;
  }
  .cs-video-suggestion {
    width: 42%;
    height: 100%;
    // background-color: #f1f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    // padding-left: 5vh;
    padding: 0 5vh;
    &::-webkit-scrollbar {
      width: 0;
    }
    .suggestion-card {
      width: 100%;
      height: 28%;
      margin-bottom: 2vh;
      flex: none;
      border: 1px solid var(--border-color);
      display: flex;
      &:nth-child(1) {
        border: 1px solid var(--main-color);
        .s-c-thumbnail {
          border-right: 1px solid var(--main-color);
        }
      }
      // flex-direction: column;
      .s-c-thumbnail {
        width: 30%;
        height: 100%;
        border-right: 1px solid var(--border-color);
      }
      .s-c-details {
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0 2vh;
        h5,
        h6,
        p {
          margin-bottom: 0;
        }
        h5 {
          font-size: 16px;
          font-weight: 700;
        }
        h6 {
          font-size: 11px;
          font-weight: 600;
        }
        div {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          p {
            font-size: 70%;
          }
        }
      }
    }
  }
}
.adjust-for-sidebar {
  .cs-video-player-wrapper {
    width: 76%;
    transition: 0.3s;
  }
  .cs-video-suggestion {
    width: 24%;
    transition: 0.3s;
    .suggestion-card {
      border-right: 0 !important;
      .s-c-thumbnail {
        width: 100%;
        transition: 0.3s;
      }
      .s-c-details {
        width: 0;
        transition: 0.3s;
        overflow: hidden;
        padding: 0;
      }
    }
  }
}
