.search-currency{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    .search-currency-search-bar{
        height: 70px;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        // justify-content: center;
        padding: 0 5vh;

        img{
            margin-right: 10px;

        }
        input{
            width: 80%;
            font-size: 115%;
            background-color: transparent;
            border: 0;
            &::placeholder{
                opacity: 0.5;
                font-weight: 400;
            }

        }
    }
    .search-currency-list{
        height: calc(100% - 80px);
        overflow: auto;
        &::-webkit-scrollbar{
            width: 0;
        }
        .s-c-l-row{
            cursor: pointer;
            height: 12%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5vh;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid var(--border-color);
            &:hover{
                background-color: var(--light-border-color);
            }
            .flag{
                height: 22px;
                width: 22px;
                margin-right: 10px;
                border-radius: 50%;

            }
            div{
                &:nth-child(2){
                    img{
                        height: 16px;
                    }
                }
            }
        }
    }

}
.full-height{
    transition: 0.3s;
    height: 100%;
    background-color: white;
}