.register-main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10%;
    .register-button-wrapper{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (min-width: 1700px) {
            height: 52%;
            
        }
        h1{
            margin: 0;
            font-weight: 700;
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            
            button{
                width: 50%;
                padding: 2vh 0;
                font-weight: 600;
                border: 1px solid var(--main-color);
                background-color: transparent;
                &:nth-child(2){
                    margin: 4vh 0;
                    color: white;
                    background-color: var(--main-color);
                }
            }
        }

    }
}