.login-component{
    width: 100%;
    height: 100%;
    display: flex;
    .l-c-left{
        width: 50%;
        height: 100%;
        border-right: 1px solid var(--border-color);
        position: relative;
        .forgot-password{
            position: absolute;
            bottom: 2%;
            left: 10%;
            text-decoration: underline;
            cursor: pointer;

        }
        .login-form-wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 10%;
            .login-form{
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding-right: 30%;
                @media (min-width: 1700px) {
                    height: 52%;
                    
                }
                h1{
                    margin: 0;
                    font-weight: 700;
                }
                button{
                    width: 60%;
                    background-color: var(--main-color);
                    color: white;
                    border: 0;
                    padding: 7px 0;
                    font-size: 120%;
                    font-weight: 600;
                    &:disabled{
                        opacity: 0.5;
                    }
                }
            }

        }
    }
    .l-c-right{
        width: 50%;
        height: 100%;

    }
}